export HOSTED_ZONE_ID=1234564564
export DOMAIN_TO_UPDATE=somedomaintoupdate.com
export AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
export AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
export AWS_DEFAULT_REGION=us-west-2

source_env_if_exists .envrc.local
